/*general*/

/*header*/
header{
background-color: #97F783;
padding-top: 25px;
}
.social-header{

}
.menu-bar{
  background-color: #DECD22
}
.menu-bar{
  margin-top: 22px
  display:inline-block;
}


/*content*/

/*footer*/
